:root {
  --primary-color: #00b4d8;
  --text-color: rgb(36, 36, 36);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(36, 36, 36);
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2 {
  margin: 10px 0;
  font-weight: 600;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.navbar {
  background: var(--primary-color);
  color: white;
  height: 6rem;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 10px;
}

a:hover {
  border-bottom: 2px solid white;
}

.btn {
  background: red;
}

.showcase h2 {
  font-weight: 400;
}

.showcase h1 {
  font-size: 30px;
  font-weight: 500;
}

.showcase p {
  margin: 20px 0;
}

.showcase {
  background: var(--primary-color);
  height: 22rem;
  color: white;
  position: relative;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: white;
  transform: skewY(-5deg);
}

.showcase-form {
  position: relative;
  top: 6.5rem;
  height: 20rem;
  width: 25rem;
  justify-self: flex-end;
  z-index: 100;
}

.showcase .grid {
  overflow: visible;
}

.showcase .form-control {
  margin: 25px 15px;
}

.showcase-form h2 {
  margin: 25px 15px;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #009ad8;
  width: 100%;
  padding: 4px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.stats {
  padding-top: 150px;
  margin-bottom: 5rem;
}

.stats-heading {
  max-width: 600px;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
}

.stats .grid h3 {
  font-size: 30px;
  margin-top: 1rem;
}

.stats .grid p {
  font-size: 20px;
}

.cli h3 {
  font-weight: 400;
}

.cli .grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cli .grid img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: 90%;
  margin: auto;
}

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud {
  background: var(--primary-color);
  color: white;
  padding: 2rem 0;
  margin-top: 5rem;
}

.cloud a {
  background: #0024d6;
}

.inner-content {
  margin-bottom: 1.2rem;
}

.cloud img {
  height: 15rem;
  width: auto;
  margin: auto;
}

.cloud h2 {
  font-weight: 500;
  font-size: 36px;
}

.languages .card {
  text-align: center;
  height: 90%;
}

.languages .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.languages h2 {
  font-weight: 500;
  margin-top: 4rem;
}

.languages .card:hover {
  transform: translateY(-20px);
}

.footer {
  background: #0024d6;
  height: 5rem;
  margin-top: 5rem;
  color: white;
}

.footer p {
  text-align: center;
  padding-top: 2rem;
}

/* Utility Classes */
.container {
  /*Might need to change later */
  width: 80%;
  margin: 0 auto;
  overflow: auto; /*Makes it so that there is no longer a top margin*/
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 6rem;
  margin-left: 0;
  margin-right: 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 20px;
  color: rgb(53, 53, 53);
}

.showcase-form .btn {
  margin: 5px 15px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-outline {
  border: 1px solid white;
}

.text-center {
  text-align: center;
}

.features-head {
  background: var(--primary-color);
  color: white;
}

.features-head h1 {
  font-weight: 500;
  font-size: 60px;
}

.features-head .grid {
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
}

.features-head img {
  width: 200px;
  justify-self: center;
}

/* Tablet sized screens */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .languages .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .hero-section {
    text-align: center;
    margin: 40px 50px 0 50px;
  }

  .cli .grid img {
    grid-column: 1;
    grid-row: 1;
  }

  .showcase {
    height: auto;
  }

  .showcase-form {
    justify-self: center;
  }

  .languages .grid img {
    width: 40%;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 150px;
  }

  .navbar .flex {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
